.topnav {
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: #111;
    overflow: hidden;
    z-index: 1000;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(245, 242, 242);
  }

  .logo {
    /* position: relative; */
    float: left;
    height: 50px;
    width: 100px;
    margin: 10px;
    border-radius: 20%;
  }
  
  .logout {
    float: right;
    text-align: center;
    margin-top: 1.8rem;
    text-decoration: none;
    font-size: 17px;
    border: 0px;
    padding: 10px 15px ;
    background-color: rgb(223, 26, 26);
    color: white;
    border-radius: 2px;
  }
  
  .logout:hover {
    background-color: rgb(47, 0, 255);
    color: white;

  }
  
  
